<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/bg.css"
</head>
<body>
    <div class="stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
    <div class="navbar">
        <ul class="header-list1">
            <li class="list1">COURSES</li>
            <li class="list1">ABOUT</li>
        </ul>
        <span class="title">TITLE</span>
        <ul class="header-list2">
            <li class="list2">CONTACT</li>
            <a href="{% url 'logout' %}">
                <li class="list2">LOG OUT</li>
            </a>
        </ul>
    </div>
    <div class="head1">START LEARNING TODAY!</div>
    <div class="language-option">
        <div class="grid">
            <div class="grid-elements">
                <div class="lang-info">
                    <a href="{% url 'story' %}">
                        <img src="../static/img/france.png" width="80px" alt="" class="img1">
                        <div class="name">French</div>
                    </a>
                </div>
                <div class="lang-info">
                    <img src="../static/img/spain.png" width="80px" alt="" class="img1">
                    <div class="name">Spanish</div>
                </div>
                <div class="lang-info">
                    <img src="../static/img/japan.png" width="80px" alt="" class="img1">
                    <div class="name">Japanese</div>
                </div>
                <div class="lang-info">
                    <img src="../static/img/korea.png" width="80px" alt="" class="img1">
                    <div class="name">Korean</div>
                </div>
                <div class="lang-info">
                    <img src="../static/img/germany.png" width="80px" alt="" class="img1">
                    <div class="name">German</div>
                </div>
                <div class="lang-info">
                    <img src="../static/img/india.png" width="80px" alt="" class="img1">
                    <div class="name">Hindi</div>
                </div>
                <div class="lang-info">
                    <img src="../static/img/italy.png" width="80px" alt="" class="img1">
                    <div class="name">Italian</div>
                </div>
                <div class="lang-info">
                    <img src="../static/img/china.png" width="80px" alt="" class="img1">
                    <div class="name">Chinese</div>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>