<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./memory.css">
    <link rel="stylesheet" href="./background.css">
    <title>Document</title>
</head>
<body>
    <div class="stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
    <h1 class="page-title">Memory Game</h1>
    <section class="memory-game">
        <div class="memory-card" data-framework="aurelia">
          <img class="front-face" src="./img/front1.jpg" alt="Aurelia" />
          <img class="back-face" src= "./img/back.jpg"alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="aurelia">
            <img class="front-face" src="./img/front2.jpg" alt="Aurelia" />
            <img class="back-face" src="./img/back.jpg" alt="JS Badge" />
        </div>
    
        <div class="memory-card" data-framework="vue">
            <img class="front-face" src="./img/front1.jpg" alt="Aurelia" />
            <img class="back-face" src="./img/back.jpg" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="vue">
            <img class="front-face" src="./img/front3.jpg" alt="Aurelia" />
            <img class="back-face" src="./img/back.jpg" alt="JS Badge" />
        </div>
    
        <div class="memory-card" data-framework="angular">
            <img class="front-face" src="./img/front2.jpg" alt="Aurelia" />
            <img class="back-face" src="./img/back.jpg" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="angular">
            <img class="front-face" src="./img/front4.jpg" alt="Aurelia" />
            <img class="back-face" src="./img/back.jpg" alt="JS Badge" />
        </div>
    
        <div class="memory-card" data-framework="ember">
            <img class="front-face" src="./img/front3.jpg" alt="Aurelia" />
            <img class="back-face" src="./img/back.jpg" alt="JS Badge" />
        </div>
        <div class="memory-card" data-framework="ember">
            <img class="front-face" src="./img/front4.jpg" alt="Aurelia" />
            <img class="back-face" src="./img/back.jpg" alt="JS Badge" />
        </div>
    
        
        
      </section>
    <script src="memory.js"></script>
</body>
</html>