<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Guessing Game</title>
    <link rel="stylesheet" href="../static/css/quiz.css">
    <link rel="stylesheet" href="../static/css/bg.css">
</head>
<body>
    <div class="stars">
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
        <div class="star"></div>
    </div>
    <div class="container">
        <h1>Guess the Image</h1>
        <div class="question">
            <img src="" alt="Loading..." id="image">
            <p style="color:white">Question goes here</p>
            <form id="mcq-form">
                <div class="options">
                    <div class="option">
                        <button id="lion">Lion</button>
                        <button id="elephant">Elephant</button>
                        <button id="giraffe">Giraffe</button>
                        <button id="penguin">Penguin</button>
                    </div>
                </div>
               
            </form>
            <div id="result"></div>
        </div>
    </div>
    <script src="../static/js/quiz.js"></script>
</body>
</html>