<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/story.css">
</head>
<body>
    <div class="slideshow-container">     
        {% for slide in slides %}
        <div class="mySlides fade">
            <img src="{{ slide.image.url }}" style="width:100%" alt="Image">
            <audio id="audio{{ slide.id }}" src="{{ slide.audio.url }}" autoplay></audio>
            <button class="replay-btn btn" onclick="replaySlides({{ slide.id }})">Replay Audio</button>
            <p class="french">{{ slide.french_text }}</p>
            <p>{{ slide.english_text }}</p>
            {{ slide.image.url }}
        </div>
        {% endfor %}
    </div>
    <br>

    <div class="translate-btn btn">
        <button>Translate</button>
    </div>
    

    <div class="next-btn btn">
        <button onclick="nextSlide()">Next</button>
    </div>
</body>
<script src="../static/js/story.js"></script>
</html>