<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/story.css">
</head>
<body>
    <div class="slideshow-container">        
        <div class="mySlides fade">
            <img src="../static/img/clause1.jpg" style="width:100%">
        </div>
        
        <div class="mySlides fade">
            <img src="../static/img/clause2.jpg" style="width:100%">
        </div>
        
        <div class="mySlides fade">
            <img src="../static/img/clause3.jpg" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="../static/img/clause4.jpg" style="width:100%">
        </div>
        
        <div class="mySlides fade">
            <img src="../static/img/clause5.jpg" style="width:100%">
        </div>
        
        <div class="mySlides fade">
            <img src="../static/img/clause6.jpg" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="../static/img/clause7.jpg" style="width:100%">
        </div>
        
        <div class="mySlides fade">
            <img src="../static/img/clause8.jpg" style="width:100%">
        </div>
        
        <div class="mySlides fade">
            <img src="../static/img/clause9.jpg" style="width:100%">
        </div>
        <div class="mySlides fade">
            <img src="../static/img/clause10.jpg" style="width:100%">
        </div>
    </div>
    <br>

    <div class="translate-btn btn">
        <button onclick="translateSlides()">Translate</button>
    </div>

    <div class="next-btn btn">
        <button onclick="nextSlide()">Next</button>
    </div>
</body>
<script src="../static/js/story.js"></script>
</html>