img{
    width: 100vw;
    height: 100vh;
    padding:0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.next-btn{
    position: absolute; 
    bottom: 20px;
    right: 20px;
}

.translate-btn{
    position: absolute; 
    bottom: 20px; 
    left: 20px;
}

.translate-btn button,
.next-btn button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 5px;
}

/* Hover effect */
.translate-btn button:hover,
.next-btn button:hover {
  background-color: #0056b3; /* Change the background color when hovered */
  transform: scale(1.1); /* Scale the button slightly when hovered */
}